@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
  

.monaco-editor{
    font-family: courier, monospace!important;
}

html, body, input  {
    height:100%;
    font-family: 'Roboto', sans-serif;
}

body{
    /*
        Main UI Colors
    */
    --primary-color: #461BC2;
    --secondary-color: #303030;
    --overlay-color: #FFF;
    --accent-color: #4FB8FF;

    --bg-primary: #151515; 
    --bg-secondary: #262626;   

    --font-primary: #E0E0E0;
    --font-primary-dim: #ffffff8a;
    --font-primary-inverse: #E0E0E0;
    --font-secondary: #7f7f7f;
    --font-overlay: var(--overlay-color);

    --divider-light: #3D3D3D;
    --divider-dark: #353535;

    --outline: #676767;

    --warning-color: orange;
    --error-color: red;
    --black-color: #121212;
    --success-color: #31ce31;

    /* 
        Font Colors
    */
    --font-accent: var(--accent-color);
    --font-success: var(--success-color);
    --font-warning: var(--warning-color);
    --font-error: var(--error-color);
    --font-black: var(--black-color);

    --link-color: var(--primary-color);
    --link-color-secondary: var(--font-overlay);
    --link-visited: var(--accent-color);

    /*
        Buttons
    */
    --button-primary-color: var(--primary-color);  
    --button-primary-text-color: var(--font-overlay);

    --button-secondary-color: var(--secondary-color); 
    --button-secondary-text-color: var(--font-primary);
}

body{
    background-color: var(--bg-primary);
    margin: 0;
    min-height: unset;
    display: flex; 
    color: var(--font-primary)
}

.light{
    --primary-color: #461BC2;
    --secondary-color: #303030;
    --overlay-color: #FFF;
    --accent-color: #4FB8FF;

    --bg-primary: #fff; 
    --bg-secondary: #f6f6f6;   

    --font-primary: #373737;
    --font-primary-dim: #929292;
    --font-primary-inverse: #E0E0E0;
    --font-secondary: #7f7f7f;
    --font-overlay: var(--overlay-color);

    --divider-light: #e4e4e4;
    --divider-dark: #b5b5b5;

    --outline: #676767;

    --warning-color: orange;
    --error-color: red;
    --black-color: #121212;
    --success-color: #31ce31;
}

a, a:-webkit-any-link:active, a:-webkit-any-link:focus, a:-webkit-any-link:visited, a:-webkit-any-link:hover{
    text-decoration: none;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-align-center{
    align-items: center;
}

.flex-just-center{
    justify-content: center;
}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-black{
    color: var(--font-black);
}

.text-primary-color{
    color: var(--primary-color);
}

.text-warning{
    color: var(--font-warning);
}

.text-red{
    color: var(--font-error);
}

.text-green{
    color: var(--font-success);
}

.text-accent{
    color: var(--font-accent);
}

.text-primary{
    color: var(--font-primary);
}

.text-primary-dim{
    color: var(--font-primary-dim);
}

.text-secondary{
    color: var(--font-secondary);
}

.text-overlay{
    color: var(--font-overlay);
}

.text-bold {
    font-weight: bold
}

.text-link{
    color: var(--link-color);
    cursor: pointer;
}

.text-link:hover {
    filter: brightness(150%);
    color: var(--primary-color);
}

.text-link:visited {
    color: var(--link-visited);
    outline: none;
}

.text-link-secondary{
    color: var(--link-color-secondary);
    cursor: pointer;
}

.text-link-secondary:hover {
    color: var(--font-primary);
}

.text-link-secondary:visited {
    color: var(--link-visited);
    outline: none;
}

.weight-100{
    font-weight: 100;
}

.weight-200{
    font-weight: 200;
}

.weight-300{
    font-weight: 300;
}

.weight-400{
    font-weight: 400;
}

.weight-500{
    font-weight: 500;
}
.weight-600{
    font-weight: 600;
}
.weight-700{
    font-weight: 700;
}
.weight-800{
    font-weight: 800;
}

.fill-font-primary{
    fill: var(--font-primary)
}

.fill-font-secondary{
    fill: var(--font-secondary)
}

.fill-success{
    fill: var(--success-color)
}

.fill-error{
    fill: var(--error-color)
}

.fill-warning{
    fill: var(--warning-color)
}

.fill-accent{
    fill: var(--accent-color)
}

.fill-black{
    fill: var(--black-color)
}


.text-title, h1{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 0.25px;
}

h2{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.25px;
    margin: 1rem 0 2rem;
}

h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.44px;
}


.text-body1{
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.44px;
}

.text-body2, h4{
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.25px;
}
.text-body3, h5{
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.44px;
}

.text-huge{
    font-style: normal;
    font-size: 55px;
    letter-spacing: 0.25px;    
}

h6{
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.25px;
    margin: 1rem 0 2rem;
}

.text-subtitle1{
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.25px;
}

.text-subtitle2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.text-subtitle3{
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.44px;
}


.text-caption{
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;
}

.text-caption2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15px;
}

.text-button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.button__solid{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: unset;
    border: unset;
    background: var(--button-secondary-color);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    color: var(--button-secondary-text-color);
}

.button__solid:hover{
    filter: brightness(125%);
}
.button__solid.button__primary{
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-color);
}
.button__solid.button__secondary{
    color: var(--button-secondary-text-color);
    background-color: var(--button-secondary-color);
}

.button__solid.button__accent{
    background-color: var(--accent-color);
}

.button__solid.button__success{
    background-color: var(--success-color);
}

.button__solid.button__warning{
    background-color: var(--warning-color);
}

.button__red{
    color: var(--font-overlay);
}

.button__solid.button__red{
    background-color: var(--error-color);
}

.buttonGroup__left{
    box-shadow: unset;
    border-radius: 5px 0 0 5px;
}

.buttonGroup__left:focus{
    z-index: 1
}

.buttonGroup__right{
    box-shadow: unset;
    border-radius: 0 5px 5px 0;
}
.buttonGroup__right:focus{
    z-index: 1;
}

.buttonGroup__center{
    box-shadow: unset;
    border-radius: 0;
    border-left: 1px solid var(--font-primary-dim);
    border-right: 1px solid var(--font-primary-dim);
}
.buttonGroup__center:focus{
    z-index: 1;
}

.button__text{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: unset;
    border: unset;
    background: var(--bg-primary);
    color: var(--font-secondary);
}

.button__icon{
    background-color: unset;
    border: unset;
}

.button__transparent{
    position: relative;
    display: flex;
    align-items: center;
    background-color: unset;
    border: unset;
    border: 1px solid var(--font-primary);
    border-radius: 4px;
    color: var(--font-primary);
    padding: 13px 8px 13px 12px;
}

.button__transparent::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.button__transparent:hover:before {
    background-color: var(--font-primary);
    filter: opacity(20%)
}

.button__transparent.button__primary:hover:before {
    background-color: var(--primary-color);
    filter: opacity(20%)
}

.button__transparent.button__primary:hover {
    border: 1px solid var(--primary-color);
}

.button__transparent.button__secondary:hover:before {
    background-color: var(--secondary-color);
    filter: opacity(20%)
}

.button__transparent.button__secondary:hover {
    border: 1px solid var(--secondary-color);
}

.button__transparent.button__overlay {
    color: var(--font-overlay);
    border: 1px solid var(--overlay-color);
}

.button__transparent.button__overlay:hover:before {
    background-color: var(--overlay-color);
    filter: opacity(20%)
}

.button__transparent.button__overlay:hover {
    border: 1px solid var(--overlay-color);
}

.button__transparent.button__accent:hover:before {
    background-color: var(--accent-color);
    filter: opacity(20%)
}

.button__transparent.button__accent:hover{
    border: 1px solid var(--accent-color);
}

.button__transparent.button__success:hover:before {
    background-color: var(--success-color);
    filter: opacity(20%)
}

.button__transparent.button__success:hover{
    border: 1px solid var(--success-color);
}

.button__transparent.button__warning:hover:before {
    background-color: var(--warning-color);
    filter: opacity(20%)
}

.button__transparent.button__warning:hover{
    border: 1px solid var(--warning-color);
}

.button__transparent.button__warning:hover:before {
    background-color: var(--error-color);
    filter: opacity(20%)
}

.button__transparent.button__warning:hover{
    border: 1px solid var(--error-color);
}

button {
    font-size: 10px;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
}

.details-button{
    background: transparent;
    padding: 2px 6px;
}

.row-box:hover .details-button{
    color: var(--font-primary);
    background: var(--primary-color);
    border-radius: 16px;
}


.submit-button {
    width: 232px;
    height: 42px;
    padding: 13px 16px;
    cursor: pointer;
}

.submit-button-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.error {
    color: var(--font-error);
}

.clickable{
    cursor: pointer;
}

.no-margin{
    margin: 0;
}

.no-top-margin{
    margin-top: 0px;
}

.no-bottom-margin{
    margin-bottom: 0px;
}

.menu-icon{
    fill: var(--font-primary)
}

.menu-icon:hover{
    fill: var(--font-accent)
}

.input-box{
    background: inherit;
}

.inputbox.primary{
    background: var(--bg-primary);
}

.inputbox.secondary{
    background: var(--bg-secondary);
}

.inputbox-label{
    position: relative;
    top: 8px;
    left: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    padding: 0 4px;
    color: var(--font-primary);
    background: inherit;
}

.mainbox{
    display: flex;
    align-items: center;
    width: 100%;

    background: inherit;
    border: 1px solid var(--outline);
    box-sizing: border-box;
    transition: border 0.5s;
    border-radius: 4px;
    padding: 10px 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1;
    color: var(--font-primary);
    letter-spacing: 0.44px;
}

.mainbox:focus{
    outline: none; 
    border: 1px solid var(--primary-color);
}

.mainbox::-webkit-input-placeholder { 
    font-style: normal;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    color: var(--font-secondary);
}

/* Chrome, Safari, Edge, Opera */
.mainbox::-webkit-outer-spin-button,
.mainbox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mainbox[type=number] {
  -moz-appearance:textfield;
}

.mainbox:-webkit-autofill,
.mainbox:-webkit-autofill:hover, 
.mainbox:-webkit-autofill:focus
 {
  border: 1px solid var(--outline);
  -webkit-text-fill-color: var(--font-primary);
  box-shadow: 0 0 0px 1000px var(--bg-primary) inset;
}


.flow-layout{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.flow-page{
    flex-grow:1;
    padding-top: 100px;
}
.flow-content{
    flex-grow: 1;
    display: flex;
}
.flow-header{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    right: 0;
    height: 97px;
    border-bottom: 1px solid var(--divider-light);
}
.flow-steps{
    display: flex;
    justify-content: center;
    height: 180px;
}

.flow-hide-steps{
    display: none;
}
.flow-content-left{
    box-sizing: border-box;
    padding: 0px 24px 0 60px;
    max-height: 550px;
    width: 316px;
    justify-content: flex-start;
}
.flow-content-right{
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1rem 5% 0;
    width: calc(100vw - 498px);
    max-width: 800px;
}
.flow-content-left > .text-box{
    margin: 1rem 0;
}
.flow-content-left > .buttons{
    flex-grow: 1;
    max-height: 250px;
    justify-content: flex-end;
}

.flow-text-box{
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.flow-buttons{
    flex-grow: 1;
    justify-content: center;  
}

@media (min-width: 950px) {
    .flow-content-left{
        padding: 0px 24px 0 242px;
        min-width: 498px;
    }
    .flow-content-right{
        width: calc(100vw - 625px);
    }
}


.spinner{
	animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-720deg);
  }
}


.chk-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .chk-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .chk-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: var(--font-primary);
  }
  
  .chk-container:hover input ~ .chk-checkmark {
    filter: brightness(75%);
  }
  
  .chk-container input:checked ~ .chk-checkmark {
    background-color: var(--primary-color);
  }
  
  .chk-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .chk-container input:disabled ~ .chk-checkmark {
    background-color: var(--font-secondary);
}
  

  .chk-container input:checked ~ .chk-checkmark:after {
    display: block;
  }

  .chk-container .chk-checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.row-box:hover{
    background-color: var(--bg-secondary)
}

.show-on-hover{
    display: none;
}

.row-box:hover .show-on-hover{
    display: flex;
}

