html, body  {
    height:100%;
}

body{
    background-color: var(--bg-color);
    margin: 0;
    min-height: unset;
    display: flex; 
}

ul {
    list-style-type: none;
}

textarea{
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 100%;
}

button {
    font-size: 10px;
    margin: 2px;
    padding: 3px;
}

.error {
    color: red;
}

.copy-link {
    color: var(--font-color);
    text-decoration: none;
}

.copy-link :hover {
    color: var(--font-color);
}

.copy-link :visited {
    outline: none;
}

.tx-link {
    color: var(--font-color);
    
}

.tx-link :hover {
    color: var(--font-color);
    text-decoration: underline;
}

.tx-link :visited {
    outline: none;
}


@media only screen and (max-width: 350px){
    html{
        width: 300px;
        height: 500px;
    }

    body {
        height: 100%;
        width: 100%;
        min-height: 500px;
         
    }
    .content {
        max-height: 430px;
        overflow-y: auto;
    }

    .invisible-scrollbar{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }

    
}

